/* =========================================================
   SQL Server 2022 – Docker compatible
   DB FIRST – No hard-coded paths
   ========================================================= */

USE master;
GO

IF DB_ID('FUNewsManagementSystem') IS NULL
BEGIN
    CREATE DATABASE FUNewsManagementSystem;
END
GO

USE FUNewsManagementSystem;
GO

/* =========================
   TABLE: Category
   ========================= */
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

CREATE TABLE dbo.Category (
    CategoryID INT IDENTITY(1,1) NOT NULL,
    CategoryName NVARCHAR(100) NOT NULL,
    CategoryDescription NVARCHAR(255) NULL,
    ParentCategoryID INT NULL,
    IsActive BIT NOT NULL CONSTRAINT DF_Category_IsActive DEFAULT (1),
    CONSTRAINT PK_Category PRIMARY KEY CLUSTERED (CategoryID)
);
GO

/* =========================
   TABLE: SystemAccount
   ========================= */
CREATE TABLE dbo.SystemAccount (
    AccountID INT IDENTITY(1,1) NOT NULL,
    AccountName NVARCHAR(100) NOT NULL,
    AccountEmail NVARCHAR(150) NOT NULL,
    AccountRole INT NOT NULL,
    AccountPassword NVARCHAR(255) NOT NULL,
    CONSTRAINT PK_SystemAccount PRIMARY KEY CLUSTERED (AccountID),
    CONSTRAINT UQ_SystemAccount_Email UNIQUE (AccountEmail)
);
GO

/* =========================
   TABLE: Tag
   ========================= */
CREATE TABLE dbo.Tag (
    TagID INT IDENTITY(1,1) NOT NULL,
    TagName NVARCHAR(100) NOT NULL,
    Note NVARCHAR(255) NULL,
    CONSTRAINT PK_Tag PRIMARY KEY CLUSTERED (TagID)
);
GO

/* =========================
   TABLE: NewsArticle
   ========================= */
CREATE TABLE dbo.NewsArticle (
    NewsArticleID INT IDENTITY(1,1) NOT NULL,
    NewsTitle NVARCHAR(250) NOT NULL,
    Headline NVARCHAR(500) NULL,
    CreatedDate DATETIME NOT NULL CONSTRAINT DF_NewsArticle_CreatedDate DEFAULT (GETDATE()),
    NewsContent NVARCHAR(MAX) NOT NULL,
    NewsSource NVARCHAR(255) NULL,
    CategoryID INT NOT NULL,
    NewsStatus BIT NOT NULL CONSTRAINT DF_NewsArticle_Status DEFAULT (1),
    CreatedByID INT NOT NULL,
    UpdatedByID INT NULL,
    ModifiedDate DATETIME NULL,
    CONSTRAINT PK_NewsArticle PRIMARY KEY CLUSTERED (NewsArticleID)
);
GO

/* =========================
   TABLE: NewsTag
   ========================= */
CREATE TABLE dbo.NewsTag (
    NewsArticleID INT NOT NULL,
    TagID INT NOT NULL,
    CONSTRAINT PK_NewsTag PRIMARY KEY CLUSTERED (NewsArticleID, TagID)
);
GO

/* =========================
   INDEXES
   ========================= */
CREATE NONCLUSTERED INDEX IX_NewsArticle_Category
ON dbo.NewsArticle (CategoryID);
GO

CREATE NONCLUSTERED INDEX IX_NewsArticle_CreatedDate
ON dbo.NewsArticle (CreatedDate);
GO

CREATE NONCLUSTERED INDEX IX_NewsArticle_Status
ON dbo.NewsArticle (NewsStatus);
GO

CREATE NONCLUSTERED INDEX IX_SystemAccount_Email
ON dbo.SystemAccount (AccountEmail);
GO

/* =========================
   FOREIGN KEYS
   ========================= */
ALTER TABLE dbo.Category
ADD CONSTRAINT FK_Category_Parent
FOREIGN KEY (ParentCategoryID)
REFERENCES dbo.Category (CategoryID);
GO

ALTER TABLE dbo.NewsArticle
ADD CONSTRAINT FK_NewsArticle_Category
FOREIGN KEY (CategoryID)
REFERENCES dbo.Category (CategoryID);
GO

ALTER TABLE dbo.NewsArticle
ADD CONSTRAINT FK_NewsArticle_CreatedBy
FOREIGN KEY (CreatedByID)
REFERENCES dbo.SystemAccount (AccountID);
GO

ALTER TABLE dbo.NewsArticle
ADD CONSTRAINT FK_NewsArticle_UpdatedBy
FOREIGN KEY (UpdatedByID)
REFERENCES dbo.SystemAccount (AccountID);
GO

ALTER TABLE dbo.NewsTag
ADD CONSTRAINT FK_NewsTag_NewsArticle
FOREIGN KEY (NewsArticleID)
REFERENCES dbo.NewsArticle (NewsArticleID)
ON DELETE CASCADE;
GO

ALTER TABLE dbo.NewsTag
ADD CONSTRAINT FK_NewsTag_Tag
FOREIGN KEY (TagID)
REFERENCES dbo.Tag (TagID);
GO
